#headerContainer {
	height: 400px;
	color: white;
	background-color: #f21c00;
	background-image: url('https://www.transparenttextures.com/patterns/black-paper.png');
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#accountName {
	font-weight: 500;
	margin: 0;
}
