.new-tweet > form > textarea {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	outline: none;
	width: 100%;
	border: none;
	color: black;
	border-bottom: 5px black solid;
	margin-bottom: 5px;
	resize: none;
	background-color: transparent;
}

.new-tweet #new-tweet-button {
	color: white;
	background-color: #4056a1;
	border: none;
	/* text-align: center; */
	text-transform: uppercase;
	font-family: 'Bungee', sans-serif;
	/* padding: 5px 10px; */
}

.new-tweet .counter {
	/* position: absolute;
	right: 0; */
	font-family: 'Bungee', sans-serif;
}

.new-tweet .button-counter-container {
	display: flex;
	justify-content: space-between;
}

div.error-msg {
	border: 5px solid red;
	margin: 5px 0;
	color: red;
	font-weight: bolder;
	text-align: center;
	display: none;
}

.invalid-font {
	color: red;
}
