.new-tweet > h2 {
	margin: 2px;
}

#new-tweet-input {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	outline: none;
	width: 100%;
	border: none;
	color: black;
	border-bottom: 5px black solid;
	margin-bottom: 5px;
	resize: none;
	background-color: transparent;
}

#new-tweet-button {
	color: white;
	background-color: #4056a1;
	border: none;
	text-transform: uppercase;
	font-family: 'Bungee', sans-serif;
}

.counter {
	font-family: 'Bungee', sans-serif;
}

.button-counter-container {
	display: flex;
	justify-content: space-between;
}

.error-msg {
	border: 5px solid red;
	margin: 5px 0;
	color: red;
	font-weight: bolder;
	text-align: center;
	display: none;
}

.invalid-font {
	color: red;
}
